

  @import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200&family=Borel&family=Dancing+Script&family=Roboto+Serif:opsz,wght@8..144,100&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
img{
    display: flex;
    justify-content: space-around;
    width: 268px;
    height: auto;
    margin-left: 300px;
    
}
nav{
    width: 100%;
    height: 90px;
    float: right;
    justify-content: space-evenly;
    flex-direction: row;
    position: fixed;
    margin-top: 15px;
    background-color: rgb(188, 201, 201);
    margin-bottom: 20vh;
    

}
.logodocplanner{
    display: flex;
    float: left;
    margin-top: 50px;
    margin-left: 0;
   margin-right: 600px;

}
nav ul{
    float: right;
    margin-right: 200px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
#entete{
    display: flex;
    margin-top: 20px;
    
}
.logo{
    display: flex;
    width: 15px;
    margin-left: 500px;
    margin-top: 100px;

}
h1{
    text-align: center;
    font-family: 'Roboto Serif', serif;
    margin: 10px;
    font-size: 2.125rem;
    color: #00b39b;
}
.bloctxt{
    display: flex;
    justify-content: center;
    margin: 20px 50px 10px 30px;

}
.txt1{
    display: flex;
    width: 50%;
    margin: 10px 50px 10px 150px;
}
.txt2{
    display: flex;
    width: 50%;
    margin: 10px 10px 10px 30px; 
}
.photo{
    width: 5%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    font-family: 'Roboto Serif', serif;
    margin-top: none;
}
.hopital{
    margin-top: 5%;
    display: flex;
    justify-content:  center;
    background-size: 30%;
    border-radius: 10%;
    align-items: center;
    justify-content: space-evenly;
    
  

}


.patients{
    display: block;
    margin-left: 15%;
    background-color: #00ccb1;
    border-radius: 10px;
    padding: 2em 2em 0;
    height: 300px;
    width: 220px;
    
    
    
}
body{
    max-width: 90%;
}

 

.doctors{
    font-display: block;
    background-color: #3d83df;
    border-radius: 10px;
    padding: 2em 2em 0;
    height: 300px;
    width: 220px;
    
}
.clinics{
    display: block;
    margin-right: 15%;
    border-radius: 10px;
    padding: 2em 2em 0;
    background-color: #1b2734;
    height: 300px;
    width: 220px;
}

.icon{
    
    width: 20%;
    margin: 0;


}
.hospis{
    margin: 0;
    padding:0;
    font-family: 'Roboto Serif', serif;
    font-size: 2.125rem;
    color: aqua;
}
.form{
    margin-top: 80px;
    text-decoration: underline;
    cursor: pointer;

}
.for{
    margin-top: 50px;
}
.logodp{
   display: flex; 
   flex-wrap: wrap;
   position: static;
   flex-direction: column;
   max-width: 200%;
   margin-left:200px;
   margin-right:250px;
   margin-bottom: 50px;
   margin-top: 50px;
   justify-content: center;
   align-items: center;
   /*background-color: bisque;*/
   
}
.logodp1{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
   
    justify-content: center;
     
}
.log1{
    width: 30px;
    margin: 0;
    padding: 0;
}


/*.logosec{
    display: flex;
   /* zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative; */

.log{
    width: 30%;
    margin: none;
}
.log1{
    width: 15%;
    margin: none;
}
.log2{
    width:5% ;
    margin: none;
}
.para{

margin-right: 50%;
margin-top: 100px;


}
.para1{
    margin-left: 14%;
}
.cadre{
    display: flex;
    flex-direction: row;
    
    margin-top:none;
    /*margin-right: 30px;*/
    margin-left: 60%;
    flex-wrap: wrap;
    
    /*width: 50%;
    height: 50%;
    background:rgb(211, 214, 6);
    position: absolute;*/
    
    

}
.photocadre{
    width: 20%;
    display: flex;
    margin-bottom: 15px;
    flex-direction: center;
    margin-left: 70px;
    margin-top: 15px;
}
.logodoc{
    margin-left: 0;
    margin-top: 30px;

}
.cadre1{
    background-color:white;
    height: 330px;
    width: 200px;
    margin-top: none;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: none;
    text-align: center;
    border-radius: 10px;
    

}
.cadre2{
    background-color:white;
    /*margin: none;*/
    
    margin-left: 20px;
    margin-right: none;
    border: #00b39b;
    text-align: center;
    height: 300px;
    width: 200px;
    

}
.cadre3{
    
    background-color:white;
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
    height: 175px;
    width: 200px;
    
    

}
.cadre4{
    background-color:white;
    margin-bottom: 10px;
    height: 175px;
    width: 200px;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    
    /*margin-left: 5px;
    margin-right: none;
    text-align: center;*/
    

}
.logodoc{
    margin-left: 0;
    float: left;


}
.paragraphe{
    margin-left: 0;

}

.rectangle{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    background-color: #3d83df;
    position: static;
    width: 111%;
    margin-bottom: 100px;
   /* position: relative;*/
    /*justify-content: center;*/
    /*text-align: left;*/
    /*float: auto;*/
    
    /*justify-content: space-around;*/
    /*margin-right: 0;
    text-align: justify;
    max-width: 200px;
    max-height: 300px;
    position: absolute;
    margin-left: 700px;

    border-radius: 120px;*/
    
}
/*.rectangle,
.paragraphe1{
    margin-left: 130px;
    width: 450px;
}
.paragraphe2{
    margin-left: none;
}*/
.pied{
text-align: center;
margin-bottom: 5%;
margin-top: 4%;

}


.container1{
    display: flex;
    gap: 4vh;
    margin-left: 40vh;
    margin-bottom: 5vh;
    
}

.imageVille1{ /* le conteneur */
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    
}
.image1{
    width: 40vh;
    height: 45vh;
    background-color: #00ccb1;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.piedImage1{ /* la zone de text*/
   width: 40vh;
   height: 7vh;
   background-color: rgb(227, 226, 224);
   border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    cursor: pointer;
}

.imageVille2{ /* le conteneur */
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    
}
.image2{
    width: 40vh;
    height: 45vh;
    background-color: #00ccb1;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.piedImage2{ /* la zone de text*/
    width: 40vh;
    height: 7vh;
    background-color: rgb(227, 226, 224);
    cursor: pointer;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }
 .imageVille3{ /* le conteneur */
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    
}
.image3{
    width: 40vh;
    height: 45vh;
    background-color: #00ccb1;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.piedImage3{ /* la zone de text*/
    width: 40vh;
    height: 7vh;
    background-color: rgb(227, 226, 224);
    display: flex;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
 }

 .bouton{
    display: block;
    background-color: #719fee;
    border-radius: 10px;
    border: 4px double #1f69ec;
    color: #ffffff;
    text-align: center;
    font-size: 7px;
    padding: 5px;
    margin-top: 0;
    width: 100px;
    height: 30px;
    cursor: pointer;

}
.butum2{
    display: flex;
    margin-top: 10px;
    margin-left: 110px;
}

/***************************************** Deuxime container ********************************/
.container2{
    display: flex;
    gap: 4vh;
    margin-left: 40vh;
    margin-bottom: 5vh;
    
}
.imageVille1b{ /* le conteneur */
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    
}
.image1b{
    width: 40vh;
    height: 45vh;
    background-color: #00ccb1;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.piedImage1b{ /* la zone de text*/
    width: 40vh;
    height: 7vh;
    background-color: rgb(227, 226, 224);
    cursor: pointer;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }


 .imageVille2b{ /* le conteneur */
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    
}
.image2b{
    width: 40vh;
    height: 45vh;
    background-color: #00ccb1;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.piedImage2b{ /* la zone de text*/
    width: 40vh;
    height: 7vh;
    background-color: rgb(227, 226, 224);
    cursor: pointer;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }

 .imageVille3b{ /* le conteneur */
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    
}
.image3b{
    width: 40vh;
    height: 45vh;
    background-color: #00ccb1;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.piedImage3b{ /* la zone de text*/
    width: 40vh;
    height: 7vh;
    background-color: rgb(227, 226, 224);
    cursor: pointer;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }

 /************************************************** troisime container *************************************/

 .container3{
    display: flex;
    gap: 4vh;
    margin-left: 40vh;
    margin-bottom: 5vh;
    
}
.imageVille1c{ /* le conteneur */
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    
}
.image1c{
    width: 40vh;
    height: 45vh;
    background-color: #00ccb1;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.piedImage1c{ /* la zone de text*/
    width: 40vh;
    height: 7vh;
    background-color: rgb(227, 226, 224);
    cursor: pointer;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }


 .imageVille2c{ /* le conteneur */
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    
}
.image2c{
    width: 40vh;
    height: 45vh;
    background-color: #00ccb1;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.piedImage2c{ /* la zone de text*/
    width: 40vh;
    height: 7vh;
    background-color: rgb(227, 226, 224);
    cursor: pointer;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }

 .imageVille3c{ /* le conteneur */
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    
}
.image3c{
    width: 40vh;
    height: 45vh;
    background-color: #00ccb1;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.piedImage3c{ /* la zone de text*/
    width: 40vh;
    height: 7vh;
    background-color: rgb(227, 226, 224);
    cursor: pointer;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }

 /* ********************************************************** quatrieme container **********************************************/
 .container4{
    display: flex;
    gap: 4vh;
    margin-left: 40vh;
    margin-bottom: 10vh;
    
}
.imageVille1d{ /* le conteneur */
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    
}
.image1d{
    width: 40vh;
    height: 45vh;
    background-color: #00ccb1;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.piedImage1d{ /* la zone de text*/
    width: 40vh;
    height: 7vh;
    background-color: rgb(227, 226, 224);
    cursor: pointer;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }
 

 /********************************************* **********************************/
.btn{
 display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

.btn1{
    text-align: center;
    margin-bottom: 10vh;
}
.bt{
    margin-bottom: 5vh;
}
.foot{
    text-align: center;
    margin-bottom: 5vh;
    cursor: pointer;
}
a:hover {
    text-decoration:underline;
    }
.footfin{
    margin-top: 2vh;
}
